:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --text-color: #084236;
}

root,
body {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background: var(--body-bg-color);
  box-sizing: border-box;
}

body {
  height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

line {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 25px;
  width: 250px;
  background: var(--green);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition-duration: 0.4s;
}

aside p {
  display: flex;
  align-items: center;
}

aside img {
  padding-right: 15px;
}

main {
  background: var(--light-grey);
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  flex-direction: row;
}

.logo-menu {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.menu-area {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.menu-item {
  flex-direction: row-reverse;
}

.avatar-area {
  display: flex;
  min-height: 60px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background: var(--light-green);
  bottom: 0;
}

.avatar {
  height: 45px;
  width: auto;
  border-radius: 15px;
  margin: 8px;
  padding: 0;
}

.menu-button {
  width: auto;
  background: none;
  transition-duration: 0.4s;
  border: none;
  border-radius: 5px;
}

.menu-button:hover {
  background: var(--light-green);
}

.menu-img {
  padding: 0;
}

.exit-button {
  width: auto;
  background: none;
  transition-duration: 0.4s;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.exit-button:hover {
  background: var(--green);
}

.exit-img {
  padding: 0;
}
